appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.9.7
django-factory-boy==1.0.0
factory-boy==2.7.0
fake-factory==0.5.7
flake8==2.6.0
gnureadline==6.3.3
ipdb==0.10.1
ipython==4.2.0
ipython-genutils==0.1.0
mccabe==0.5.0
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
pycodestyle==2.0.0
pyflakes==1.2.3
python-dateutil==2.5.3
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
