{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-circle" title="Error"></i>
  Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <div class="alert alert-danger" role="alert">
    <i class="fa fa-exclamation-circle" title="Error"></i>
    Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    <i class="fa fa-exclamation-circle" title="Error"></i>
    Please login to see this page.
  </div>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="skinny">
{% csrf_token %}

{% include "form_snippet.html" %}

<input type="submit" value="login" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
