form.skinny {
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .center-block;
  float: none;
}

.form-group {
  input,
  textarea {
    @extend .form-control;
  }

  .errorlist {
    @extend .help-block;
    @extend .list-unstyled;
    margin-top: 0;
    margin-bottom: 0;
    color: $brand-danger;
  }
}
